command:
  jwt-key: h3xNB2JkvP2ShSd4tlYuHTjDk3sgl2KDFOh6gsrVJ75wdFqfH2ndf7LXktB9LgjKfTFn0g
  expire-time: '3600000'
spring:
  datasource:
        url: jdbc:postgresql://localhost:5432/olx_clone
        username: postgres
        password: rut123
#    url: jdbc:postgresql://${PROD_DB_HOST}:${PROD_DB_PORT}/${PROD_DB_NAME}
#    username: ${PROD_DB_USERNAME}
#    password: ${PROD_DB_PASSWORD}
  jpa:
    properties:
      hibernate:
        format_sql: 'true'
    hibernate:
      ddl-auto: validate
    show-sql: 'true'
  mail:
    host: smtp.gmail.com
    port: 587
    username: ubaydullayevmdev83@gmail.com
    password: txqttfocqaxzdtcy
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
logging:
  file:
    name: log/OlxClone.log
  pattern:
    file: '%d{yyyy-MM-dd HH:mm:ss} %-5level --- [%thread] %logger : %msg%n'